.topbar {
    height: 50px;
}

.main {
    height: 820px;
}

.emotional-section {
    height: 580px;
}

.rodmap-section {
    height: 580px;
}

.case-section {
    height: 930px;
}

.logical-section {
    height: 580px;
}

.contact-section {
    height: 580px;
}
.footer-section {
    height: 150px;
}
.bottomline-section {
    height: 40px;
}