@import url('./fonts/poppins.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0
}

img {
    width: 100%;
}

.col {
    display: flex;
    flex-direction: column;
}

.col-6 {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.row {
    display: flex;
}

.screen {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
}

section.main {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: left;
    padding-bottom: 30px;
}

/* ------------------------------------------ */

section.main>header.top-bar {
    display: flex;
    background-color: red;
    height: 55px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


section.main>header.top-bar>p {
    color: white;
    font-size: 1em;
}


/* ------------------------------------------ */

section.main>img.logo {
    display: flex;
    justify-content: center;
    max-width: 220px;
    margin: 2% 0;
    padding-left: 20px;
}

section.main>h1.title {
    font-size: 3em;
    line-height: 1;
    margin-bottom: 10px;
    text-align: left;
    padding: 0 20px;
}

section.main>h2.title {
    font-size: 1.9em;
    line-height: 1.2;
    margin-bottom: 30px;
    text-align: left;
    padding: 0 20px;

}

section.main>img.main-img {
    padding: 0 15px;
}

section.main>button.main-button {
    background: rgb(193, 0, 0);
    background: linear-gradient(0deg, rgba(193, 0, 0, 1) 0%, rgba(210, 0, 0, 1) 100%, rgba(255, 0, 0, 1) 100%);
    color: white;
    height: 60px;
    width: 90%;
    margin: 20px auto;
    font-size: 1.3em;
    border-radius: 5px;
    transition: 0.2s;
}

section.main>button.main-button:hover {
    background-color: rgb(183, 0, 0);
    transition: 0.2s;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------- */

section.explanation {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

img.explanation {
    max-width: 767px;
    margin-bottom: 15px;
    padding: 0 20px;
}

div.text-expanation {
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
    margin: 0 20px;
    justify-content: space-between;
}

div.text-expanation>div>h2.title {
    color: white;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 20px;
}

div.text-expanation>div>p.text {
    color: white;
    font-size: 1.33em;
    line-height: 1.3;
    margin-bottom: 20px;
}

div.text-expanation>button.action {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: black;
    width: 100%;
    font-size: 1.3em;
    border-radius: 5px;
    transition: 0.2s;
    padding: 15px 0;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------- */
section.rodmap {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

section.rodmap>div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section.rodmap>h2.title {
    font-size: 2.5em;
    line-height: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.card-rodmap {
    display: flex;
    flex-direction: column;
    background-color: red;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}

.card-rodmap h2.title {
    font-size: 2.5em;
    line-height: 1.2;
    color: #f9f9f9;
}

.card-rodmap h3.title {
    font-size: 1.5em;
    line-height: 1.2;
    color: #f9f9f9;
    margin-bottom: 10px;
}

.card-rodmap p.text {
    font-size: 1.3em;
    line-height: 1.2;
    color: #f9f9f9;
    margin-bottom: 20px;
}

.card-rodmap:last-child {
    background-color: black;
}

.card-rodmap>button.action {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: black;
    width: 100%;
    font-size: 1.3em;
    border-radius: 5px;
    transition: 0.2s;
    padding: 15px 0;
    cursor: pointer;
}

.card-rodmap:nth-child(even) {
    margin-right: 0;
}

/* -------------------------------------------------------------------------------- */
section.case {
    display: flex;
    flex-direction: column;
    height: auto;
}

.img-case {
    margin-bottom: -1em;
}

section.case>h2.title {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 0 20px;
}

section.case>h3.title {
    font-size: 1.5em;
    line-height: 1.2;
    margin-bottom: 10px;
    padding: 0 20px;
}

.container-feature {
    position: relative;
    top: -5em
}

.feature-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    padding: 0 20px;
}

.feature-item>div {
    display: flex;
    border: 1px solid #a9a9a9;
    padding: 30px;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

.feature-item>span {
    position: relative;
    font-size: 4em;
    line-height: 1;
    bottom: -9px;
    text-align: center;
    width: 250px;
    background-color: white;
    padding: 0 30px;
    display: block;
    margin: 0 auto;
}

.feature-item>div>p {
    font-size: 1.3em;
    text-align: center;
}

section.case>button.action {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 100%);
    color: black;
    width: 90%;
    font-size: 1.3em;
    border-radius: 5px;
    transition: 0.2s;
    padding: 15px 0;
    height: 60px;
    margin: 0 auto;
    border: 1px solid #a9a9a9;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------- */

section.tecnical {
    background-color: #f9f9f9;
    padding: 20px 0;
    width: 100%;

}

section.tecnical div {
    padding: 0 10px;
}

section.tecnical h2 {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 20px;
    margin-top: 30px;
}

section.tecnical p:first-of-type {
    font-size: 1.5em;
    margin-bottom: 20px;
    line-height: 1.2;
}

section.tecnical p {
    font-size: 1.2em;
    margin-bottom: 10px;
}


/* -------------------------------------------------------------------------------- */

section.contact {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 20px;
}

section.contact>h2.title {
    font-size: 2.5em;
    line-height: 1.2;
    margin-top: 30px;
    margin-bottom: 10px;
}

section.contact>p.text {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.container-card-contact {
    display: flex;
    flex-wrap: wrap;
}

.card-contact {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 100%;
    margin-right: 0;
    height: 100%;
}

.card-contact h3 {
    color: white;
    font-size: 2em;
    line-height: 1.2;
    margin-bottom: 10px
}

.card-contact p.phone {
    font-size: 2em;
    margin-top: 12px;
}

.card-contact p.mail {
    font-size: 1em;
}

.card-contact p {
    color: white;
}

.card-contact img {
    max-width: 75px;
    margin-bottom: 10px
}

.card-contact:last-child {
    background-color: green;
    margin: 0;
}

.card-contact:last-child button {
    width: 100%;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    padding: 20px 0;
    font-size: 1.3em;
    background: transparent;
    margin-top: 10px;
    transition: 0.2s;
}

.card-contact:last-child button:hover {
    background-color: white;
    color: green;
    transition: 0.2s;
    cursor: pointer;

}

/* -------------------------------------------------------------------------------- */
footer.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 20px;
    background-color: #f9f9f9;
    padding: 50px 20px;
}

footer.footer img {
    max-width: 220px;
    height: auto;
}

footer.footer p {
    font-size: 1.3em;
    margin-bottom: 20px;
}

footer.bottomline {
    display: flex;
    background-color: black;
    color: #fff;
    text-align: center;
    justify-content: center;
    height: 50px;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .col-6 {
        max-width: 100%;
    }

    .screen {
        max-width: 768px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }

    header.top-bar>p {
        color: white;
        font-size: 1.5em;
    }

    section.main>img.logo {
        max-width: 280px;
        margin: 1% auto;
    }

    section.main>img.main-img {
        max-width: 90%;
    }

    section.main>button.main-button {
        max-width: 250px;
        position: relative;
        margin: 0 0px 20px 0;
        top: -180px
    }

    section.main {
        align-items: center;
    }

    section.main>h1.title {
        text-align: center;
    }

    section.main>h2.title {
        text-align: center;
    }


    .card-rodmap:last-child {
        margin-left: 0;
        margin-right: 0;
    }

    .card-rodmap {
        justify-content: left;
        width: calc(51.3% - 20px);
        margin-right: 20px;
        height: 420px;
    }

    .card-rodmap>p.text {
        line-height: 1.3;
    }

    .card-rodmap:last-child {
        justify-content: space-between;
    }

    /* -------------------------------- */
    .img-case {
        margin-bottom: -10em;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .feature-item {
        width: 50%;
    }

    div.container-feature {
        display: flex;
        flex-wrap: wrap;
    }

    /* ------------------------- */
    section.tecnical {
        padding: 40px 0px;
    }

    .container-card-contact {
        /* flex-wrap: nowrap; */
    }

    .card-contact:last-child {
        margin-right: 0;
    }
    section.case>button.action {
        max-width: 250px;
    }
    footer.footer>.screen {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) {
    .col-6 {
        max-width: 50%;
    }

    .screen {
        max-width: 1280px;
        margin: 0 auto;
        /* border: 1px solid red; */
    }

    section.main>h1.title {
        font-size: 5em;
    }

    section.main>h2.title {
        font-size: 2.1em;
        margin-bottom: 50px;
    }

    section.explanation {
        flex-direction: row;
        padding: 0 20px;
    }

    img.explanation {
        max-width: 100%;
        margin: 0 20px 0 0;
        padding: 0;
    }

    div.text-expanation {
        max-width: 100%;
        height: 100%;
        margin: 0 0 0 20px;
    }

    .card-rodmap {
        width: 25%;
        margin-right: 20px;
        height: 420px;
    }

    section.rodmap>div {
        flex-wrap: nowrap;
    }

    .card-rodmap:nth-child(even) {
        margin-right: 20px;
    }

    .container-card-contact {
        flex-wrap: nowrap;
    }

    .card-contact {
        width: calc(33%);
        margin-right: 20px;
    }

    /* section.main > button.main-button {
        max-width: 250px;
        position: relative;
        top: -20%
    } */
}

/* -------------------------------------------------------------------------------- */
/* @media only screen and (min-width: 1280px) {
   
} */